<form action="/respond" method="POST" id="short-url">
  <div class="mb-3">
    <input type="text" class="form-control" id="original" name="original" placeholder="請輸入原網址..." required>
    <div class="invalid-feedback">請確認已填入網址</div>
  </div>
  <button type="submit" class="btn btn-primary">一鍵縮址</button>
</form>