<div class="mb-3">
  <h2>成功! 請取用以下短網址：</h2>
  <a href="{{ originalUrl }}" id="newUrl">{{ shortUrl }}</a>
</div>
<div class="container">
  <button class="btn btn-info mb-2" id="copy" onclick="copy()">複製</button>
  <form action="/" method="get">
    <button type="submit" class="btn btn-success" id="next">下一筆</button>
  </form>
</div>

<script>
  function copy() {
      const newUrl = document.getElementById('newUrl').innerText
      navigator.clipboard.writeText(newUrl)
      alert("URL coppied: " + newUrl)
    }
</script>