<div class="mb-3">
  <h2>成功! 請取用以下短網址：</h2>
  <a href="{{ originalUrl }}">{{ shortUrl }}</a>
</div>
<div class="container">
  <button class="btn btn-info">複製</button>
  <button class="btn btn-success">下一筆</button>
</div>